
/* General styles */
QWidget {
  color: #FFFFFF;
  background-color: #101010;
  font-family: "Open Sans", Arial, sans-serif, serif, monospace;
  font-size: 14px;
  line-height: 1.5; /* One and a half times the font size */
}

QPlainTextEdit {
  color: #FFFFFF;
  background-color: #101010;
  font-size: 16px;
}


QWidget br {
    display: none;
}