<?xml version="1.0"?>
<Installer>
    <Name>ITools</Name>
    <Version>v1.2.2</Version>
    <Title>ITools</Title>
    <Publisher>ITools</Publisher>
    <ProductUrl>https://bitbucket.org/projectxxy/it-tools/wiki/Home</ProductUrl>
    <InstallerWindowIcon>../icons/dark/png/workflow.png</InstallerWindowIcon>
    <InstallerApplicationIcon>../icons/dark/png/workflow.png</InstallerApplicationIcon>
    <Logo>../icons/dark/svg/workflow.svg</Logo>
    <RunProgram>@TargetDir@/ITools</RunProgram>
    <StartMenuDir>ITools</StartMenuDir>
    <TargetDir>@HomeDir@/ITools</TargetDir>
</Installer>